# Environment Mode
NODE_ENV=your_environment_here # e.g., development, production

# Database URIs
DB_LOCAL_URI=your_local_database_uri_here
DB_CLOUD_URI=your_cloud_database_uri_here

# Server port
PORT=your_server_port_here

# Email Service
AUTH_EMAIL=your_email_address_here
AUTH_PASS=your_email_password_here

# Session
SESSION_SECRET=your_session_secret_here